$primary: #1DC6C7;
$secondary: #2E9899;
$white: #FEFEFE;
$black: #4F5255;
$button-color: #4FC395;
$light-grey: #D0DBDB;
$grey: #A2A2A2;
$red: #F56151;

$break-small: 400px;

$font-stack: "Helvetica Neue", Helvetica, sans-serif;
