@import '../../styles/variables.scss';

.results {
  margin: auto;
  width: 100%;
  position: relative;
}

.no-bhp {
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
}

.score-message {
  color: $teal;
  margin: 10% auto;
  text-align: center;
}

.thank-you-message {
  color: $teal;
  width: 80px;
  margin: auto;
}

@media screen and (max-width: $break-small) {
  .results {
    margin: 0 auto;
  }

  .no-bhp {
    margin-top: 25%;
  }
}

@media screen and (min-width: $break-medium) {
  .results {
    width: 60%;
  }
}
